html{
  background-image: url('./assets/musix.jpeg') ;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  background-color: rgb(234, 10, 159);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homepage-heading {
  color: white;
}

.nav-link{
  text-decoration: none;
  color: black;
  margin-right: 20px;
}
.nav-link:hover {
  color: green;
}
.form-container {
  background-color: rgb(151, 15, 230);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: .75em;
}
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container input[type="submit"] {
  background-color: white;
  padding: 5px;
}
.form-container input[type="submit"] {
  cursor: pointer;
}