html{
  background-image: url('./assets/new.webp') ;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  background-color: rgb(234, 10, 159);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homepage-heading h1 {
  font-size: 55px; 
  color: whitesmoke;
  font-family: "BatFont", cursive;
}
.form-container {
  background-color: rgb(151, 15, 230);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: .75em;
  align-items: center;
}
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container input[type="submit"] {
  background-color: white;
  padding: 5px;
}
.form-container input[type="submit"] {
  cursor: pointer;
}
.artist {
  color: white;
  font-family: "BatFont", cursive;
}
.form-section {
  background-color: rgb(151, 15, 230);
  padding: 50px;
  border-radius: 20px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}
.popup {
  background-color: gold;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  padding: 20px;
  justify-content: center;
  display: flex;
}

.popup-button:hover {
  background-color: #0056b3;
}

.nav-button {
  background-color: rgb(234, 10, 159); 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  font-family: "BatFont", cursive;
}
.nav-button:hover {
  background-color: purple; 
}
/* .close-menu{
  display: flex;
  justify-content: space-between;
  background-color: #f43669; 
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px; 
  font-family: "BatFont", cursive;
}
.close-menu:hover {
  background-color: purple;
} */
.popup-button, .close-menu{
  background-color: #f43669; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px; 
  font-family: "BatFont", cursive;
}
.popup-button:hover {
  background-color: purple;
}
.search-input {
  flex: 2;
  padding: 10px;
  font-size: 16px;
}
.control{
  padding: 12px 24px;
  font-size: 16px;
}
.label {
  font-family: "BatFont", cursive;
}
.login-heading h1{
  font-family: "BatFont", cursive;
}

.albums-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  max-height: 500px; 
  overflow-y: auto; 
}

.album {
  text-align: center;
}

.album-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.search-container {
  display: flex;
  align-items: center;
 
}
.control {
  margin-left: 10px; /* Adjust margin as needed */
}

