html{
  background-image: url('./assets/musix.jpeg') ;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  background-color: rgb(234, 10, 159);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homepage-heading {
  color: white;
}

.nav-link{
  text-decoration: none;
  color: black;
  margin-right: 20px;
}
.nav-link:hover {
  color: green;
}
